# ROS 2 build artifacts (LeapXELA_Hardware_ws)
ros_ws/build/
ros_ws/install/
ros_ws/log/
# ros_ws/data/
shell/linux_1.8.0_208601/
linux_1.8.0_208601/
install/
build/
log/


# OS
.DS_Store
__pycache__/
ros_ws/src/xela_point_cloud_representation/pointcloud_calibration/
ros_ws/pointcloud/
ros_ws/pointcloud_dump/