<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="garmi">
  <xacro:arg name="arm_id_1" default="left"/>
  <xacro:arg name="arm_id_2" default="right"/>
  <xacro:arg name="hand_1" default="false"/>
  <xacro:arg name="hand_2" default="false"/>
  <xacro:arg name="parent_frame" default="world"/>

  <xacro:property name="arm_id_1" value="$(arg arm_id_1)"/>
  <xacro:property name="arm_id_2" value="$(arg arm_id_2)"/>

  <xacro:include filename="$(find garmi_moveit_config)/srdf/garmi_arm.xacro"/>
  <xacro:garmi_arm arm_id="${arm_id_1}" />
  <xacro:garmi_arm arm_id="${arm_id_2}" />

  <virtual_joint name="virtual_joint" type="fixed" parent_frame="$(arg parent_frame)" child_link="base_link"/>
  
  <group name="garmi">
    <group name="${arm_id_1}_arm"/>
    <group name="${arm_id_2}_arm"/>
    <xacro:if value="$(arg hand_1)">
      <group name="${arm_id_1}_manipulator"/>
    </xacro:if>
    <xacro:if value="$(arg hand_2)">
      <group name="${arm_id_2}_manipulator"/>
    </xacro:if>
  </group>

  <xacro:include filename="$(find garmi_moveit_config)/srdf/garmi_group_definition.xacro"/>
  <xacro:if value="$(arg hand_1)">
    <!-- <xacro:group_definition arm_id="${arm_id_1}" group_name="${arm_id_1}_arm" tip_link="${arm_id_1}_link8"/> -->
    <xacro:group_definition arm_id="${arm_id_1}" group_name="${arm_id_1}_manipulator" tip_link="${arm_id_1}_hand_tcp"/>
    
    <xacro:include filename="$(find garmi_moveit_config)/srdf/garmi_hand.xacro"/>
    <xacro:hand arm_id="${arm_id_1}"/>

    <xacro:include filename="$(find garmi_moveit_config)/srdf/garmi_arm_hand.xacro"/>
    <xacro:garmi_arm_hand arm_id="${arm_id_1}"/>
  </xacro:if>
<!--  -->
  <xacro:if value="$(arg hand_2)">
    <!-- <xacro:group_definition arm_id="${arm_id_2}" group_name="${arm_id_2}_arm" tip_link="${arm_id_2}_link8"/> -->
    <xacro:group_definition arm_id="${arm_id_2}" group_name="${arm_id_2}_manipulator" tip_link="${arm_id_2}_hand_tcp"/>

    <xacro:include filename="$(find garmi_moveit_config)/srdf/garmi_hand.xacro"/>
    <xacro:hand arm_id="${arm_id_2}"/>

    <xacro:include filename="$(find garmi_moveit_config)/srdf/garmi_arm_hand.xacro"/>
    <xacro:garmi_arm_hand arm_id="${arm_id_2}"/>
  </xacro:if>

  <!-- Find a more elegant way to process this part -->
  <disable_collisions link1="base" link2="garmi_head" reason="Adjacent" />
  <disable_collisions link1="base" link2="left_link0" reason="Adjacent" />
  <disable_collisions link1="base" link2="left_link1" reason="Default" />
  <disable_collisions link1="base" link2="left_link2" reason="Default" />
  <disable_collisions link1="base" link2="right_link0" reason="Adjacent" />
  <disable_collisions link1="base" link2="right_link1" reason="Default" />
  <disable_collisions link1="base" link2="right_link2" reason="Default" />
  <disable_collisions link1="base" link2="left_link4" reason="Default" />
  <disable_collisions link1="base" link2="right_link4" reason="Default" />
  <disable_collisions link1="base" link2="mobile_base" reason="Adjacent" />
  <disable_collisions link1="garmi_head" link2="left_link0" reason="Adjacent" />
  <disable_collisions link1="garmi_head" link2="left_link1" reason="Never" />
  <disable_collisions link1="garmi_head" link2="left_link2" reason="Never" />
  <disable_collisions link1="garmi_head" link2="right_link0" reason="Adjacent" />
  <disable_collisions link1="garmi_head" link2="right_link1" reason="Never" />
  <disable_collisions link1="garmi_head" link2="right_link2" reason="Never" />

</robot>