<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="garmi" >
  <xacro:macro name="head">
    <group name="head">
      <link name="garmi_head_link0" />
      <link name="garmi_head_link1" />
      <link name="garmi_head_link2" />
      <link name="garmi_head" />
      <joint name="garmi_head_joint0" />
      <joint name="garmi_head_joint1" />
      <joint name="garmi_head_joint2" />
      <joint name="garmi_head_joint3" />
      <chain base_link="garmi_head_link0" tip_link="garmi_head" />
    </group>
    <disable_collisions link1="garmi_head_link0" link2="garmi_head_link1" reason="Adjacent" />
    <disable_collisions link1="garmi_head_link1" link2="garmi_head_link2" reason="Adjacent" />
    <disable_collisions link1="garmi_head_link2" link2="garmi_head" reason="Adjacent" />
    <disable_collisions link1="garmi_head_link0" link2="garmi_head_link2" reason="Never" />
    <disable_collisions link1="garmi_head_link0" link2="garmi_head" reason="Adjacent" />
    <disable_collisions link1="garmi_head_link1" link2="garmi_head" reason="Adjacent" />
    <disable_collisions link1="garmi_head_link2" link2="garmi_head_link0" reason="Adjacent" />
  </xacro:macro>
</robot>
