<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="garmi_base_mjros_ros2_control">
    <ros2_control name="garmi_base" type="system">
      <hardware>
        <plugin>mujoco_ros2_control_system/MujocoRos2System</plugin>
      </hardware>
      <xacro:macro name="configure_wheel" params="joint_name">
        <joint name="${joint_name}">
          <param name="initial_position">0.0</param>
          <param name="kv">10</param>
          <command_interface name="velocity"/>
          <state_interface name="position"/>
          <state_interface name="velocity"/>
        </joint>
      </xacro:macro>

      <xacro:configure_wheel joint_name="garmi_base_joint_left"/>
      <xacro:configure_wheel joint_name="garmi_base_joint_right"/>

    </ros2_control>
  </xacro:macro>
</robot>